.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.NavBar{
  background-color: #3D5287;
  width: 100%;
  height: 80px;
  display: flex;
}

.NavBar .leftSide{
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Palatino;
  font-style: normal;
  font-weight: bold;
  

  color: white;
}

.NavBar .leftSide .links{
  max-height: 80px;
}

.NavBar .leftSide .links p{
  text-decoration: none;
  color:white;
  font-size: 35px;
}

.NavBar .rightSide{
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.NavBar .rightSide .links{
  max-height: 80px;
}

.NavBar .rightSide .links a{
  text-decoration: none;
  color:white;
  font-size: 35px;
}

.NavBar .rightSide .BRflag{
  max-height: 50px;
  width:50px;
  height: 100px;
  /* display: flex; */
}

.NavBar .rightSide .USAflag{
  max-height: 50px;
  width: 50px;
  height: 30px;
  /* display: flex; */
}

.NavBar .rightSide .linkSign{
  max-height: 80px;
}

.NavBar .rightSide .linkSign a{
  text-decoration: none;
  color:white;
  font-size: 15px;
  font-family: Palatino;
}

.links{
  text-decoration: none;
  color:white;
  font-size: 15px;
}

.blue_button{
  background-color: #3D5287;
  color: white;
  border-radius: 5px;
  font-size: medium;
  margin-left: 300px;
  text-decoration: none;
}

#profile_image{
  max-width: 100px;
  margin-top: 60px;
  margin-left: 160px;
}

#profile_information{
  color: black;
  font-size: large;
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  vertical-align: middle;
  margin-left: 300px;
}

#sign_up_form{
  width: 30%;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  margin-right: 60px;
  margin-top: 50px;
}

.input_data{
  width: 100%;
  margin-top:3px;
  margin-bottom:3px;
  text-align: left;
}

.labels_form {
  text-align: left !important;
  width: 100%;
  margin-top: 20px;
}

.input_description{
  width: 100%;
  font-size: x-small;
  color: #858585;
  margin-bottom: 0px;
  text-align: left;
}

#sign_up_button{
  margin-left: 0px;
  width: 100%;
  margin-top: 20px;
}

#text_sign_up{
  font-size: x-large;
}

#sign_up_text{
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  font-size: xx-large;
  text-align: center;
  margin-top: 200px;
  margin-left: 50px;
  font-weight: bold;
  float: left;
}

.experiments_table{
  margin-top: 30px;
  margin-right: 50px;
  margin-left: 300px;
}

@media only screen and (max-width:850px) {
  .NavBar .leftSide .links a {
    font-size: 20px;
  }
  .NavBar .rightSide .linkSign a{
    text-decoration: none;
    color:white;
    font-size: 12px;
    font-family: Palatino;
  }
  .NavBar .rightSide .BRflag{
    max-height: 40px;
    /* display: flex; */
  }
  
  .NavBar .rightSide .USAflag{
    max-height: 20px;
    /* display: flex; */
  }
}

@media only screen and (max-width:750px) {
  .NavBar .leftSide .links a {
    font-size: 20px;
  }
  .NavBar .rightSide .linkSign a{
    text-decoration: none;
    color:white;
    font-size: 10px;
    font-family: Palatino;
  }
  .NavBar .rightSide .BRflag{
    max-height: 30px;
  }
  
  .NavBar .rightSide .USAflag{
    max-height: 10px;
  }


  inline{
    display: inline-block;
  }

  logo {
      color: white;
      font-family: 'Times New Roman', Times, serif
  }
}
